table{
    border: black solid thick;
    border-collapse: collapse;
}
table, td {
    padding: 0;
}
td{
    width: 40px;
    height: 40px;
    background-color: yellow;
}
.tie {
    background-color: peru;
}
.seinä{
    background-color: gray;
    /*background-color: green;*/
}
.kukka{
    background-image: url(kuvat/punainenKukka.png);
    /*background-color: red;*/
}
.pelaajaylos{
    background-image: url(kuvat/autoylos.png);
}
.pelaajaalas{
    background-image: url(kuvat/autoalas.png);
}
.pelaajavasen{
    background-image: url(kuvat/autovasen.png);
}
.pelaajaoikea{
    background-image: url(kuvat/autooikea.png);
}
.raha {
    background-image: url(kuvat/emeraldred1.png);
}
.avaimet {
    background-image: url(kuvat/avaimet40.png)
}
.tormays{
    background-color: red;
}
.vastustajaylos{
    background-image: url(kuvat/ukkoYlos.png);
    width:40px;
    height: 40px;
    animation: ruudut 0.5s steps(2) infinite;
}
.vastustajaalas{
    background-image: url(kuvat/ukkoAlas.png);
    width:40px;
    height: 40px;
    animation: ruudut 0.5s steps(2) infinite;
}

.vastustajavasen{
    background-image: url(kuvat/ukkoVasen.png);
    width:40px;
    height: 40px;
    animation: ruudut 0.5s steps(2) infinite;
}
.vastustajaoikea{
    background-image: url(kuvat/ukkoOikea.png);
    width:40px;
    height: 40px;
    animation: ruudut 0.5s steps(2) infinite;
}

@keyframes ruudut{
    from{background-position:0px;}
    to {background-position:-80px;}
}



